$clr-body-bg: #09192E;
$clr-card-bg: #0F2641;
$clr-product-title: #fff;
$clr-product-desc: #82ADDD;
$clr-crypto-text: #00FFFA;
$clr-time-ago-text: #82ADDD;
$clr-border-base: #29415C;
$clr-link-hover: #00FFFA;

$base-font-family: "Outfit", sans-serif;
